#sidebar {
    a {
        color:white;
        font-weight: 500;
    }
  .sidebar-container {
    background: linear-gradient(-45deg, rgba(0, 160, 255, 0.86), rgb(0, 72, 162));
    border-radius: .375rem;
  }
}

